.home {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.btn {
    width: fit-content;
    margin: 0px 10px;
}